
.searchItem {
	margin-top:16px;
}

.searchTitle {
    width: 25em;
	max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top:8px;
}

.searchInfo,.searchOwn,.searchSave,.searchView,.searchReply,.searchDate {
	display: inline-block;
    color: #99a2aa;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 16px;
    font-size:13px;
}
.searchInfo,.search-icon,.searchOwn, .searchSave, .searchView,.searchReply,.searchDate {
	vertical-align: center;
    margin-right: 5px;
    margin-left:2px;
}
.searchInfo {
	padding-top:15px;
	width:25em;
	max-width:100%;
}

.searchOwn,.searchDate{
	width: 450px;
}

.searchSave,.searchView,.searchReply{
	width: 5em;
}

.search-icon {
    vertical-align: center;
	display: inline-block;
	width: 13px;
    height: 13px;
}
.search-icon.search-icon-own {
    background: url(../images/icon/yonghu.png) no-repeat center;
}

.search-icon.search-icon-reply {
     background: url(../images/icon/pinglun.png) no-repeat center;
}

.search-icon.search-icon-save {
     background: url(../images/icon/shoucang.png) no-repeat center;
}
.search-icon.search-icon-view {
     background: url(../images/icon/liulan.png) no-repeat center;
}
.search-icon.search-icon-date {
     background: url(../images/icon/rili.png) no-repeat center;
}


.pageControl{
	display:block;
	text-align:center;
}