@CHARSET "UTF-8";

h4, h5, h6, h1, h2, h3 {
	margin-top: 0;
}

ul, ol {
	margin: 0;
}

p {
	margin: 0;
}

html, body {
	font-family: '微软雅黑';
	font-size: 100%;
	background: #fff;
}

body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
}

.list-group {
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .075)
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover
	{
	text-shadow: 0 -1px 0 #286090;
	background-image: -webkit-linear-gradient(top, #337ab7 0, #2b669a 100%);
	background-image: -o-linear-gradient(top, #337ab7 0, #2b669a 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7),
		to(#2b669a));
	background-image: linear-gradient(to bottom, #337ab7 0, #2b669a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7',
		endColorstr='#ff2b669a', GradientType=0);
	background-repeat: repeat-x;
	border-color: #2b669a
}

.list-group-item.active .badge, .list-group-item.active:focus .badge,
	.list-group-item.active:hover .badge {
	text-shadow: none
}

.breadcrumb {
	padding: 8px 15px;
	list-style: none;
	background-color: #ffffff;
	border-radius: 4px;
	font-size:18px;
}

.breadcrumb>li {
	display: inline-block
}

.breadcrumb>li+li:before {
	padding: 0 5px;
	color: #ccc;
	content: "/\00a0"
}

.breadcrumb>.active {
	color: #777
}

.header {
	background: #FFCC00;
	padding: 0 0;
}

.logo {
	float: left;
}

.logo a {
	text-decoration: none;
}

.logo h1 {
	font-size: 50px;
	font-weight: bold;
	/*text-transform: uppercase;*/
	margin-bottom: 0;
	font-family: '微软雅黑';
}

.logo h1 a {
	color: #FFC083;
}

.pull-right {
	position: fixed;
    right: 15px;
    bottom: 15px;  
    height:40px;
    width:40px;
}

.divvv{
	height:1em;
}

.tip {
	padding-left: 15px;
	font-size: 12px;
	color: #99a2aa;
}


.listImg{
	padding: 0.25rem;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 0.25rem;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	width: 300px;
	max-width: 100%;
	height: 168px;
}

.listTitle {
    width: 300px;
	max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.listInfo,.listOwn,.listSave,.listView,.listDate {
	display: inline-block;
    vertical-align: center;
    color: #99a2aa;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 13px;
    font-size:13px;
}
.listInfo,.list-icon,.listOwn, .listSave, .listView,.listDate {
	vertical-align: center;
    margin-right: 5px;
}
.listInfo {
	padding-top:15px;
	width:300px;
	max-width:100%;
}

.listOwn{
	width:110px;
}
.listDate {
	width:110px;
}
.listSave,.listView{
	width: 60px;
    margin-left: 10px;
}

.list-icon {
	vertical-align: bottom;
	display: inline-block;
	width: 13px;
    height: 13px;
}
.list-icon.list-icon-own {
    background: url(../images/icon/yonghu.png) no-repeat center;
}

.list-icon.list-icon-save {
    background: url(../images/icon/shoucang.png) no-repeat center;
}
.list-icon.list-icon-view {
    background: url(../images/icon/liulan.png) no-repeat center;
}
.list-icon.list-icon-date {
    background: url(../images/icon/rili.png) no-repeat center;
}

.mylist{
	width:100%;
	border: none;
	margin-top:0px;
	z-index:500;
	position:relative;
}
.mylist ul li{
	background:#9a5034;	
	text-align:left;
	position:relative;
	margin-bottom:0.5em;
	padding-top:0.5em;
	padding-bottom:0.5em;
}
.mylist ul li a{
	color:#FFFFFF;
	margin-left:1em;
	margin-right:0;
	display:block;
}

.mylist ul li a{
	color:#FFFFFF;
	display:block;
}
.mylist ul li a:after{
	content:'>';
	float:right;
}

.mylist ul li:hover{
	background:#db8e71;
	color:#9a5034;	
}
.secondlist{
	position:absolute;
	left:100%;
	top:0;
	width:16em;
	z-index:510;
	display:none;
	background:#db8e71;
	border-left:3px solid #fff;
	color:#fff;	
}

.mylist ul li:hover .secondlist{
	display:block;
}

.secondlist label{
	font-size:15px;	
	font-weight:bold;
	padding-top:0.5em;
	padding-bottom:0;
}
.secondlist a:after{
	display:none;
}

.secondtable{
	margin-bottom:0.5em;
}
.secondtable td{
	width:5em;
}
.secondtable a{
	font-size:13px;	
}

.little_icon{
	width:50px;
	height:auto;
}

.banner{
	position:relative;
	width:100%;
	height:300px;
	overflow: hidden;
}

.recommend_pic{
	position:relative;
	width:400%;
	height:100%;
}

.recommend_pic li{
	float:left;
	width:25%;
	height:100%;
}

.recommend_pic li img{
	width:100%;
	height:100%;
}

.recommend_page{
	position: absolute;
	width:100%;
	height:20px;
	bottom: 0px;
	text-align:center; 
	font-size:0px;
}

.recommend_page li{
	width:10px;
	height:10px;
	border-radius: 50%;
	display: inline-block;
	background-color: #fff; 
	margin:0 10px;
}

.recommend_page li.on{
	background:#9a5034;
}

.btn_left{
	position:absolute;
	top:50%;
	margin-top:-30px;
	left:0px;
	width:40px;
	height:60px;
	text-align: center;
	line-height:60px;
	color:#ffffff;
	font-family:serif;
	font-size:40px;
	font-weight:bold;
	cursor: pointer;
}

.btn_right{
	position:absolute;
	top:50%;
	margin-top:-30px;
	line-height:60px;
	right:0px;
	width:40px;
	height:60px;
	text-align: center;
	color:#ffffff;
	font-family:serif;
	font-size:40px;
	font-weight:bold;
	cursor: pointer;
}

.btn_left:hover{
	background:#9a5034;
	opacity:0.6;
}

.btn_right:hover{
	background:#9a5034;
	opacity:0.6;
}


