@charset "utf-8";
body {
	font-family:"微软雅黑";
}

.main_logo {
	margin-top: -20px;
	width: 100%;
	height: 66px;
}
.touxiang_head{
	margin-top:2px;
	border-radius:50%;
	width:25px;
	height:25px;
}

.top_right {
	float: right;
	color: #ffffff;
}

.top_right ul {
	padding: 0;
	list-style: none;
}

.top_right ul li{
	display: inline-block;
	vertical-align:middle;
}

.top_right ul li:last-child {
	margin-right: 0;
}

.top_right ul li a {
	text-align: center;
	font-family: "微软雅黑";
	font-size: 15px;
	display: block;
	color: #ffffff;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.top_right ul li a:hover {
	color: #6a4028;
	text-decoration: none;
}

.header_bg {
	background: #9a5034;
	padding: 0 0;
	height: 30px;
}

.input_composition {
	font-family: "微软雅黑";
	font-size: 14px;
}

.search {
	float:right;
	border: 2px solid #9a5034;
	height: 30px;
	margin-top:10px;
	margin-right:-15px;
	width: 220px;
	border-radius:4px;
}

.search select {
	display: none;
}

.search .select_box {
	font-size: 10px;
	color: #999999;
	width: 50px;
	line-height: 30px;
	float: left;
	position: relative;
}

.search .select_showbox {
	font-family: "微软雅黑";
	height: 30px;
	background: url(../images/search_ico.png) no-repeat 35px center;
	text-indent: 0.5em;
}

.search .select_showbox.active {
	background: url(../images/search_ico_hover.png) no-repeat 35px center;
}

.search .select_option {
	font-family: "微软雅黑";
	border: 2px solid #9a5034;
	border-top: none;
	display: none;
	top: 30px;
	position: absolute;
	z-index: 99;
	background: #fff;
}

.search .select_option li {
	text-indent: 0.4em;
	width: 35px;
	cursor: pointer;
}

.search .select_option li.selected {
	background-color: #F3F3F3;
	color: #999;
}

.search .select_option li.hover {
	background: #BEBEBE;
	color: #fff;
}

.search input.inp_srh, .search input.btn_srh {
	border: none;
	background: none;
	height: 30px;
	line-height: 30px;
	float: left
}

.search input.inp_srh {
	outline: none;
	width: 130px;
	font-size:11px;
}

.search input.btn_srh {
	background: #9a5034;
	color: #FFF;
	font-family: "微软雅黑";
	font-size: 12px;
	width: 36px;
	height:28px;
}

.fabu{
	background:#9a5034;
	margin-top:10px;
	margin-right:-20px;
	float:right;
	border-radius:4px;
	height:30px;
	width:70px;
	color:#fff;
	font-size:13px;
	text-align:center;
	border:0px;
}

.fabu:hover{
	background:#db8e71;
}
